:root {
    --colorPrimary: #0a091c;
    --colorPrimaryVariant: #000000;
    --colorOnPrimary: #ffffff;
    --colorTransparent: rgba(0,0,0,0);
/* 
    --colorHomePrimary: #0f0e13;
    --colorHomePrimaryVariant: #22242A; 
*/

    --colorHomePrimary:  #22242A;
    --colorHomePrimaryVariant: #171821;
    

    --colorOnline: #009124;

    --colorNotMyMessage: #4b4d50;
    --colorMyMessage: #F34C60;

}