@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.container-landing-page {
    min-height: 100vh;
    display: flex;
    /* background-image: linear-gradient(#5a6dff,#a33aff); */
    background-image: linear-gradient(#020520,#102953);
}

.container-login-content, .container-login-animation {
    flex: 1;
    padding: 40px;
}

.container-login-content {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content {
}

.text-h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 70px;
    display: block;
}

.text-h2 {
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.75;
    margin-top: 20px;
    display: block;
}



.container-login-animation {
    border-left: 4px solid #999;
}