@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #140112;
}

.landing-page {
    max-height: 100vh;
    background-image: linear-gradient(#0a091c,#000000); 
    overflow: hidden;
}

.container-landing-page {
    display: flex;
    height: 90vh
}

.container-header {
    width: 90vw;
    margin: auto;
    height: 10vh;
    border-bottom: 0px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
}

.container-header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container-header ul li:first-child {
    margin-left: 0px;
}


.container-header ul li {
    margin-left: 20px;
}

.container-header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.app-logo {
    background-color: #fff;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}



.container-login-content, .container-login-animation {
    flex: 1;
    padding: 0px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login-content {
    color: #fff;
    padding-left: 65px;
}



.login-content {
}

.text-h1 {
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 70px;
    display: block;
}

.text-h2 {
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.75;
    margin-top: 20px;
    display: block;
}

.container-landing-page-buttons {
    margin-top: 30px;
}


.container-login-animation {
    border-left: 0px solid #999;
}