.container-group-search {
    padding: 0px 10px 0px 10px;
    margin: 20px 0px;
    max-height: 200px;
    overflow-y: auto;
}

.container-user-search {
    padding: 0px 10px 10px 10px;
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.container-user-search-results {
    width: 100%;
}


.user-search-result {
    display: flex;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 2px;
    position: relative;
}


.user-search-result:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.user-search-result-profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user-search-result-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.user-search-result-name-time-container {
    display: flex;
}

.user-search-result-username {
    font-size: 0.9rem;
    margin-bottom: 5px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.user-search-result-email {
    font-size: 0.8rem;
    opacity: 0.6;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container-group-member-chips {
    padding: 0px 10px 0px 10px;
}